
.bio-list {
    ul {
        @extend .list-unstyled;
    }
}

.bio {
    @include make-row();
    margin-top: 8px;

    cursor: pointer;
    padding: 4px 0px;

    @include border-top-radius(5px);
    @include border-right-radius(5px);
    @include border-bottom-radius(5px);
    @include border-left-radius(5px);

    & > div {
        @include make-xs-column(12);
    }

    &:hover {
        background-color: #eeeeee;
    }

    .title {
        font-size: 100%;
        font-weight: bold;
        display: block;
        color: $pronto-dark-green;
    }
    
    .summary {
        font-size: 80%;
        display: block;
        color: #717171;
    }

    .actions {
        float: right;
        display: inline-block;
        margin-top: 10px;

        ul {
            @extend .list-inline;
        }

        a {
            color: $pronto-dark-green;
        }
    }
}
