<section id="home" name="home"></section>
<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <h1>Welcome To <b>Pronto!</b></h1>
                <h3>The companion extension for frequent Speakers</h3>
                <br>
            </div>

            <div class="col-lg-2">
                <h5>Works Everywhere</h5>
                <p>Pronto! works with pretty much every submission form, no APIs, no hassle.</p>
                <img class="hidden-xs hidden-sm hidden-md" src="{{ "/images/arrow1.png" | prepend: site.baseurl }}">
            </div>
            <div class="col-lg-8">
                <img class="img-responsive" src="{{ "/images/app-hero.jpg" | prepend: site.baseurl }}" alt="">
            </div>
            <div class="col-lg-2">
                <br>
                <img class="hidden-xs hidden-sm hidden-md" src="{{ "/images/arrow2.png" | prepend: site.baseurl }}">
                <h5>One Click, All Data</h5>
                <p>Choose from you talks and with one click, fill in the CfP form. Spend time adjusting, not copy-pasting.</p>
            </div>
        </div>
    </div> <!--/ .container -->
</div><!--/ #headerwrap -->
