<div id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>Pronto!</b></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home" class="smothscroll">Home</a></li>
        <li><a href="#desc" class="smothscroll">Features</a></li>
        <li><a href="#about" class="smothScroll">About</a></li>
        <li><a href="#install" class="smothScroll">Install</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
          <li><a href="http://github.com/rdohms/pronto"><i class="fa fa-github-alt"></i></a></li>
          <li><a href="http://twitter.com/prontocfp"><i class="fa fa-twitter"></i></a></li>
          <li><a href="jttp://github.com/rdohms/pronto/issues"><i class="fa fa-bug"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>

</div>
