@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

.pronto-located {
    border: 1px solid #e07504 !important;
}

.pronto-filled {
    border: 1px solid #009966 !important;
    background-color: rgba(0, 153, 92, 0.1) !important;
}

#pronto-summary {

    @include position(absolute, 0px 50px 0 0);
    display: none;

    height: 100px;
    width: 300px;
    z-index: 9999;

    padding: 10px;

    background-color: #009966;

    span {
        color: #fff;
        font-size: 150%;
        display: block;
    }
}
