@import "variables";

$font-size-base: 12px;

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "utils/normalize.scss";

body {
    min-width: 800px;
    min-height: 350px;

    margin: 15px;
}

#info-fullname {
    font-weight: bold;
}
