@import "variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "utils/normalize.scss";

@import "modules/talks";
@import "modules/bios";


body {
    min-width: $popup-width;
    margin: 0px;
}

.no-select {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

a:focus {
    outline:
}

.navbar-brand {
    padding: 0;
}

.content {
    padding: 0 8px 8px 8px;
    min-height: 150px;
}


.error {
    @include make-xs-column(12);
    font-weight: bold;
    color: rgb(143, 10, 10);
}

.loading { color: #FFF !important; font-size: 22px; padding: 5px 15px 0 0; margin: 0 !important; }

.options-alert {
    display: none;
}

footer {
    background-color: #dfdddd;
    font-size: 75%;

    padding: 8px 8px 0 8px;

    a {
        color: #000;
        font-style: italic;
    }
}

.nav {
    li {
        a {
            padding: 2px 10px !important;
            color: gray;
        }
    }
}
