@import "variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "utils/normalize.scss";



body {
    min-width: $popup-size;
    margin: 0px;
}

.content {
    padding: 0 8px 8px 8px;
}

.talk-list {
    @include make-row();

    ul {
        @extend .list-unstyled;
    }
}

.talk {

    .talk-info {

        @include make-xs-column(10);

        .title {
            font-size: 100%;
            font-weight: bold;
            display: block;
        }

        .info {
            font-size: 80%;
            display: block;
            color: #717171;
        }

    }

    .actions {
        @include make-xs-column(2);
    }
}

.error {
    @include make-xs-column(12);
    font-weight: bold;
    color: rgb(143, 10, 10);
}

.loading { color: #FFF !important; font-size: 22px; padding: 5px 15px 0 0; margin: 0 !important; }
