@import "variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

@import "utils/normalize.scss";



body {
    min-width: $popup-size;
    margin: 0px;
}

a:focus {
    outline:
}

.navbar-brand {
    padding: 0;
}

.content {
    padding: 0 8px 8px 8px;
    min-height: 150px;
}

.talk-list {


    ul {
        @extend .list-unstyled;
    }
}

.talk {

    @include make-row();
    margin-top: 8px;

    .talk-info {

        @include make-xs-column(10);

        .title {
            font-size: 100%;
            font-weight: bold;
            display: block;
            color: $pronto-dark-green;
        }

        .info {
            font-size: 80%;
            display: block;
            color: #717171;
        }

    }

    .actions {
        @include make-xs-column(2);
    }
}

.error {
    @include make-xs-column(12);
    font-weight: bold;
    color: rgb(143, 10, 10);
}

.loading { color: #FFF !important; font-size: 22px; padding: 5px 15px 0 0; margin: 0 !important; }

.loading-talks {

    @include make-row();
    @include make-xs-column(12);

    @include position(absolute, 60px 0 0 0);

    @extend .text-center;

    i{
        font-size: 100%;
    }

    color: #9e9e9e; font-size: 95%;
}

.options-alert {
    display: none;
}

footer {
    background-color: #dfdddd;
    font-size: 75%;

    padding: 8px 8px 0 8px;

    a {
        color: #000;
        font-style: italic;
    }
}
