$pronto-dark-green: #009966;

$navbar-default-bg: $pronto-dark-green;
$navbar-default-border: $pronto-dark-green;

$navbar-default-color: #FFF;
$navbar-default-link-color: #FFF;

$grid-float-breakpoint: 480px;

$popup-width: 650px;
